In [1]:
print("Hello World")

Hello World

In [4]:
print("Happy New Year")
print("Hello World")

Happy New Year
Hello World

### Data Structures in Python

> **List**

In [17]:
arr = [1,2,3,4,5]

In [19]:
arr1 = [6]
arr+arr1

[1, 2, 3, 4, 5, 6]

In [20]:
arr

[1, 2, 3, 4, 5]

In [21]:
arr.append(6)

In [22]:
arr

[1, 2, 3, 4, 5, 6]

In [23]:
arr[0]

1

In [24]:
arr[1]

2

In [25]:
arr[5]

6

> negative indexing

In [26]:
arr[-1]

6

In [27]:
arr[-2]

5

> **Tuple**

##### Immutable

In [28]:
t = ()

In [29]:
print(t)

()

In [30]:
t = (1,2,3,4,5)

In [31]:
t

(1, 2, 3, 4, 5)

In [32]:
t1 = (6)

In [34]:
t[0]

1

In [35]:
t[-1]

5

In [36]:
t[-2]

4

> **Dictionary**

In [37]:
arr = [1,2,1]

In [38]:
arr

[1, 2, 1]

In [39]:
d = {}

In [44]:
d['28-01-2023'] = 'Saturday'

In [41]:
d

{'28-01-2023': 'Saturday'}

In [42]:
d['28-01-2023'] = 'Tuesday'

In [43]:
d

{'28-01-2023': 'Tuesday'}

In [45]:
d['29-01-2023'] = 'Sunday'

In [46]:
d

{'28-01-2023': 'Saturday', '29-01-2023': 'Sunday'}

In [48]:
d1 = {
    'Vaibhav':'IT',
    'Raghav':'CS',
    'Anushka':'CS',
    'Lohit':'CS'
}

In [49]:
d1

{'Vaibhav': 'IT', 'Raghav': 'CS', 'Anushka': 'CS', 'Lohit': 'CS'}

> **String**

In [50]:
s = 'Hi my name is vishwas'

In [51]:
print(s)

Hi my name is vishwas

In [52]:
s[0]

'H'

In [53]:
s[-1]

's'

In [54]:
s[-2]

'a'

In [55]:
s = "Hello World"

In [56]:
print(s)

Hello World

In [57]:
s = """
Hi,
My name is Vishwas
"""
print(s)

Hi,
My name is Vishwas

In [58]:
str1 = "Hi"
str2 = ","
str3 = "My name is Vishwas"
print(str1+str2+str3)

Hi,My name is Vishwas

In [59]:
print(str1+str2+" "+str3)

Hi, My name is Vishwas