### Datatypes

* int
* float
* bool
* char

In [1]:
a = 5

In [2]:
type(a)

int

In [3]:
b = 6.0

In [4]:
type(b)

float

In [ ]:
min()

In [5]:
c = True

In [6]:
type(c)

bool

In [7]:
s = 'c'

In [8]:
type(s)

str

In [9]:
s1 = "vishwas"
type(s1)

str

### Keywords in python

ex: int, float, range, str, min, max

In [12]:
type(a),type(b),type(c),type(s)

(int, float, bool, str)

In [13]:
a, float(a)

(5, 5.0)

In [14]:
a, bool(a)

(5, True)

In [16]:
a, bool(0)

(5, False)

In [17]:
bool(-1)

True

In [19]:
str(a),a

('5', 5)

In [20]:
str(c)

'True'

In [22]:
int('5')

5

In [23]:
int('a')

ValueError: invalid literal for int() with base 10: 'a'

### Airthmetic Operations

In [24]:
5+5.0 #addition

10.0

In [25]:
10/2 #divisiom

5.0

In [27]:
5//2 #floor

2

In [28]:
10-2 #subtraction

8

In [29]:
10*2 #multiplication

20

In [31]:
5 % 2, 7 % 5 #modulus

(1, 2)

In [32]:
pow(2,5)

32

In [33]:
2 ** 5

32

In [35]:
a=5
b=6
d=9

In [37]:
(a + b) * d

99

In [38]:
a , b = b , a

In [39]:
a,b

(6, 5)

### Logical Operators

and/or/not

In [40]:
a = True
b = False

In [41]:
a and b

False

In [42]:
a or b

True

In [43]:
not a

False

In [44]:
not b

True

### Comparision Operators

<,>,<=,>=,!=,==

In [45]:
a = 5
b = 10

In [46]:
a > b

False

In [47]:
a < b

True

In [48]:
a <= b

True

In [49]:
a>=b

False

In [50]:
a == b

False

### Type

In [15]:
a = 1
b = 2.0
c = 'sss'
d = []
e = ()
f = {}
g = Truexx
type(a), type(b), type(c), type(d), type(e), type(f), type(g)

(int, float, str, list, tuple, dict, bool)

### String

In [2]:
s = "Hello World"
s1 = 'Hello India'
s2 = """Hello Guys,
I am vishwas"""
print(s,s1,s2)

Hello World Hello India Hello Guys,
I am vishwas

1. string concatenation

In [3]:
s+s1

'Hello WorldHello India'

In [5]:
s + " " +s1

'Hello World Hello India'

2. Indexing

In [7]:
s

'Hello World'

In [6]:
s[0],s[-1],s[-2]

('H', 'd', 'l')

3 . Comparision

In [8]:
s, s1

('Hello World', 'Hello India')

In [11]:
s == s1

False

In [10]:
type(s == s1)

bool

In [17]:
s = "HI"
s1 = "hi"
s == s1

False

In [18]:
s,s1 = "HI","hi"

In [19]:
s,s1

('HI', 'hi')

4. Slicing

In [20]:
s = 'abcdefghijklmnop'

In [21]:
s[0:10]

'abcdefghij'

0 here is the starting Index, while 10 here is the ending index and 10 is not included

In [22]:
s[10]

'k'

In [23]:
s[-10:-1]

'ghijklmno'

In [24]:
s[-10:]

'ghijklmnop'

In [25]:
s[:10]

'abcdefghij'

In [26]:
s[2:6]

'cdef'

5. len

In [27]:
len(s)

16

In [28]:
s, s[:17]

('abcdefghijklmnop', 'abcdefghijklmnop')

In [29]:
s[::-1]

'ponmlkjihgfedcba'

In [30]:
s = "abc"
s[::-1]

'cba'

In [31]:
s = 'abcdefghijklmnop'

In [32]:
s[::2]

'acegikmo'

In [33]:
s[1::2]

'bdfhjlnp'

In [35]:
s[::-2]

'pnljhfdb'

s[starting_idx : ending_idx : step_size]

In [36]:
s

'abcdefghijklmnop'

In [38]:
s = s.upper()

In [39]:
s

'ABCDEFGHIJKLMNOP'

In [40]:
s.lower()

'abcdefghijklmnop'

In [43]:
s

'ABCDEFGHIJKLMNOP'

In [42]:
s.isupper()

True

In [45]:
s.islower()

False

In [47]:
s = s.lower()

In [51]:
s = "i am vishwas"

In [52]:
s.capitalize()

'I am vishwas'

### List

In [51]:
ls = []

In [52]:
type(ls)

list

In [53]:
ls = [1,2,3,4]

In [54]:
ls

[1, 2, 3, 4]

In [56]:
ls1 = [5]
ls = ls+ls1

In [57]:
ls

[1, 2, 3, 4, 5]

In [64]:
ls.append('hello class')

In [65]:
ls

[1, 2, 3, 4, 5, 'hello class']

In [66]:
ls.pop(0)

1

In [68]:
ls.pop()

'hello class'

In [69]:
sum(ls)

14

In [70]:
max(ls)

5

In [78]:
min(ls)

2

In [80]:
ls.reverse()

In [81]:
ls

[5, 4, 3, 2]

In [82]:
sorted(ls)

[2, 3, 4, 5]

In [83]:
sorted(ls,reverse=True)

[5, 4, 3, 2]

In [84]:
ls = [1,2,3,'hello',[4,5,6]]

In [85]:
ls[4][1]

5

In [87]:
ls[::-1]

[[4, 5, 6], 'hello', 3, 2, 1]

### Tuples

In [88]:
a = ()

In [89]:
a = (1,2,3)

In [91]:
b = (4)

In [92]:
a + b

TypeError: can only concatenate tuple (not "int") to tuple

In [94]:
# nested tuple
a = (1,2,3,[5,6,7],"Hello",True)

In [95]:
a

(1, 2, 3, [5, 6, 7], 'Hello', True)

In [98]:
type(a)

tuple

### Dictionary

In [96]:
d = {}

In [97]:
type(d)

dict

In [99]:
d['29th'] = 'Sunday'

In [100]:
d

{'29th': 'Sunday'}

In [101]:
d = {
    'Neha':'CS',
    'Raghav':'CS',
    'Vaibhav': 'IT'
}

In [102]:
d

{'Neha': 'CS', 'Raghav': 'CS', 'Vaibhav': 'IT'}

In [103]:
d.keys()

dict_keys(['Neha', 'Raghav', 'Vaibhav'])

In [104]:
d.values()

dict_values(['CS', 'CS', 'IT'])

In [105]:
d.items()

dict_items([('Neha', 'CS'), ('Raghav', 'CS'), ('Vaibhav', 'IT')])

In [106]:
d['Neha']

'CS'

In [107]:
d['Raghav']

'CS'

In [108]:
d['Neha'] = 'ECE'

In [109]:
d

{'Neha': 'ECE', 'Raghav': 'CS', 'Vaibhav': 'IT'}

In [110]:
del d['Neha']

In [111]:
d

{'Raghav': 'CS', 'Vaibhav': 'IT'}

### Control Statements

if else elif are the control flow statements

In [112]:
a = 5
b = 6
if a>2:
    print('a is superb')

a is superb

In [113]:
if a<2:
    print('a is so small')
else:
    print('a is ok')

a is ok

In [114]:
if a<2:
    print('a is small')
elif a==5:
    print('a is fine')
else:
    print('a is good')

a is fine

In [117]:
if a>=5 and b<6:
    print('things are working out')
else:
    print('it doesnt matter')

it doesnt matter

In [118]:
if a>=5 or b<6:
    print('things are working out')
else:
    print('it doesnt matter')

things are working out

In [119]:
if a>=5 and not b<=6:
    print('things are working out')
else:
    print('it doesnt matter')

it doesnt matter

### Input

In [122]:
a = int(input('enter a number'))

enter a number5

In [123]:
a

5

In [124]:
a = float(input('enter a number'))

enter a number5

In [125]:
a

5.0

### loops

* for
* while

In [131]:
range(5)

range(0, 5)

In [132]:
for i in range(5):
    print(i)

0
1
2
3
4

In [133]:
a = ['hello',5,7.0,[7,8,9]]
for i in range(len(a)):
    print(a[i])

hello
5
7.0
[7, 8, 9]

In [134]:
for i in a:
    print(i)

hello
5
7.0
[7, 8, 9]

In [135]:
list(range(5))

[0, 1, 2, 3, 4]

In [136]:
list(range(1,5))

[1, 2, 3, 4]

In [137]:
list(range(1,5,2))

[1, 3]

In [141]:
list(range(5,1,-1))

[5, 4, 3, 2]

In [138]:
list(range(5,1,-2))

[5, 3]

In [142]:
var=5
while var>=0:
    print(var)
    var = var -1

5
4
3
2
1
0

### Functions

In [144]:
def hello_name(name):
    print("hello "+name)

In [145]:
hello_name('vaibhav')

hello vaibhav

In [146]:
hello_name('neha')

hello neha

In [147]:
hello_name('raghav')

hello raghav

In [148]:
def bigger(a,b):
    if a>b:
        print('a is bigger than b')
    elif a==b:
        print('a is equal to b')
    else:
        print('a is less than b')

In [149]:
bigger(5,6)

a is less than b

In [150]:
bigger(5,5)

a is equal to b

In [151]:
bigger(6,5)

a is bigger than b

In [152]:
def bigger(a,b):
    if a>b:
        print(str(a)+' is bigger than '+str(b))
    elif a==b:
        print(str(a)+' is equal to '+str(b))
    else:
        print(str(a)+' is less than '+str(b))

In [153]:
bigger(5,6)

5 is less than 6

In [154]:
def bigger(a,b):
    if a>b:
        print(f'{a} is bigger than {b}')
    elif a==b:
        print(f'{a} is equal to {b}')
    else:
        print(f'{a} is less than {b}')

In [155]:
bigger(4,4)

4 is equal to 4

In [158]:
def return_big(a,b):
    if a > b:
        return a
    return b

In [159]:
return_big(5,6)

6

In [160]:
for i in range(5):
    if i==2:
        continue
    print(i)

0
1
3
4

In [161]:
for i in range(5):
    if i==2:
        break
    print(i)

0
1

In [162]:
for i in range(5):
    if i==2:
        pass
    print(i)

0
1
2
3
4

In [163]:
def is_bigger(a,b):
    if a>b:
        print('a is bigger')
    else:
        pass

In [164]:
is_bigger(6,4)

a is bigger

In [165]:
is_bigger(2,4)

In [166]:
def wish(name,wish):
    print(wish+" "+name)

In [167]:
wish("raghav","good morning")

good morning raghav

In [168]:
def wish(name,wish="good day"):
    print(wish+" "+name)

In [169]:
wish("neha")

good day neha

In [170]:
wish("vaibhav","good noon")

good noon vaibhav